<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PlayerAPI" parallel="methods" thread-count="3">
    <test name="PlayerGetTests">
        <classes>
            <class name="tests.PlayerGetTests"/>
        </classes>
    </test>
    <test name="PlayerCreateTests">
        <classes>
            <class name="tests.PlayerCreateTests"/>
        </classes>
    </test>
    <test name="PlayerDeleteTests">
        <classes>
            <class name="tests.PlayerDeleteTests"/>
        </classes>
    </test>
    <test name="PlayerUpdateTests">
        <classes>
            <class name="tests.PlayerUpdateTests"/>
        </classes>
    </test>
</suite>